.container {
    width: 375px;
    height: 100vh;
    background: $colorWhite;
    display: grid;
    place-items: center;
}

.card {
    width: 325px;
}

.card-header {
    img {
        width: 325px;
    }
}