.container {
    width: 375px;
    //height: 100vh;
    padding: 75px 0;
    background: $colorWhite;
    display: grid;
    place-items: center;

    @include media(tablet) {
        width: 768px;
    }
}

.card {
    width: 325px;
    @include media(tablet) {
        width: 768px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.card-header {
    margin-bottom: 45px;

    img {
        width: 325px;
        height: 200px;
        object-fit: cover;
        object-position: 0 -15px;
    }

    @include media(tablet) {
        margin: 0;

        img {
            width: 285px;
            height: 280px;
            object-position: 0 0;
            border-bottom-left-radius: 15px;
            border-top-left-radius: 15px;
            margin-right: 40px;
        }
    }
}

.card-body {
    width: 255px;
    margin: 0 auto;

    @include media(tablet) {
        width: 345px;
        margin: 0;
    }

    .card-title {
        font-size: 14px;
        font-weight: 700;
        color: $colorGrayDark;
        letter-spacing: 1px;
        margin-bottom: 20px;

        @include media(tablet) {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 24px;
        }
    }

    .card-text {
        line-height: 18px;
        margin-bottom: 40px;

        &--active {
            margin-bottom: 25px;
        }

        @include media(tablet) {
            margin-bottom: 25px;
        }
    }
}

.card-footer {
    width: 325px;
    padding: 0 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &--active {
        background-color: $colorGrayDark;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    @include media(tablet) {
        width: 350px;
        padding: 0;
    }

    .user-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        img {
            width: 40px;
            border-radius: 50%;
            margin-right: 15px;
        }

        .user {
            h5 {
                font-size: 13px;
                color: $colorGrayDark;
                font-weight: 700;
            }
        }
    }

    .hidden-menu {
        color: $colorWhite;
        text-transform: uppercase;
        font-weight: $fontWeightNormal;
        letter-spacing: 2px;
        padding: 23px 0;
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        display: none;
        p {
            margin-right: 20px;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    .btn {
        width: 35px;
        height: 35px;
        color: $colorGray;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        background-color: $colorWhite;

        &--active {
            color: $colorWhite;
            background-color: $colorGray;
        }

        & > i {
            font-size: 15px;
        }


    }

}
