@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

$fontSize: 13px;
$lineHeight: 20px;
$fontWeightNormal: 500;
$fontWeightBold: 700;
$fontFamily: 'Manrope', sans-serif;

$colorWhiteSnow: #fff;
$colorWhite: #ecf2f8;
$colorGray: #6d7f97;
$colorGrayLight: hsl(212, 23%, 69%);
$colorGrayDark: #48556a;
